*{
    margin: 0px;
    padding: 0px;   
}
nav{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: end;
    align-items: end;
    height: 50px;

}
nav ul{
    display: flex;
    justify-content: end;
    align-items: end;
}
nav ul li a{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: rgb(255,165,0);
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
}
header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255,165,0);
    /* padding-bottom: 0; */
}
.icon1{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 5px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
header h2{
    color: white;
}
h2{
    text-align: center;
    margin: 0px;
    background-color: rgb(255,165,0);
    color: white;
}
footer{
    background-color: rgb(255,165,0);
    width: 100%;
    height: 100px;
    text-align: center;
}
#footer1 a{
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.row{

    margin: 0px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: row;
}
.col{
    width: 150px;
    height: 250px;
    background-color: white;
    border: 5px ridge rgba(255, 166, 0, 0.127);
    box-shadow: 1px 1px 10px 1px;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.col1{
    width: 150px;
    height: 250px;
    background-color: white;
    border: 5px ridge rgba(255, 166, 0, 0.127);
    box-shadow: 1px 1px 10px 1px;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.col2{
    width: 150px;
    height: 250px;
    background-color: white;
    border: 5px ridge rgba(255, 166, 0, 0.127);
    box-shadow: 1px 1px 10px 1px;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    color: rgba(0, 0, 0);
}
/* .col:hover{
    width: 200px;
    height: 250px;
}
.col1:hover{
    width: 200px;
    height: 250px;
}
.col2:hover{
    width: 200px;
    height: 250px;
} */
button{
    margin: 10px;
    width: 80px;
    height: 30px;
    background-color: rgb(255, 102, 0);
    color: white;
}
button:hover{
    width: 100px;
    height: 35px;
}
.swiggy{
    margin: 10px;
}
.backimage{
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 1000px;
}
#foodmenu{
    /* position: relative;  */
}
section h2{
    margin-top: 50px;
}
.order{
    text-align: center;
    margin: 30px;
}
.view{
    margin: 15px;
    width: 100px;
    height: 30px;
}
.whatson{
    
}
.menu{
    display: flex;
    flex-direction: row;
}
.items img{
    margin: 10px;
}
.items img:hover{
    width: 135px;
    height: 135px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;
    
}
.items p{
    text-align: center;
    font-size: large;
    margin-top: 10px;
}


/* ***************** */
.whatson {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
}
h3{
    text-align: center;
    background-color: rgb(255,165,0);
    color: white;
}
.items {
    margin: 10px;
    text-align: center;
}
/* media query */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;

    }

    .items {
        margin: 0px 0;
    }

    .row {
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin: 10px;
    }

    .col,
    .col1,
    .col2 {
        width: 50%;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }
    .backimage{
        height: 100%;
    }
}
